<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA85Km_dzm8AhtQMxg0S44MDAAWHSKKkmY</string>
	<key>GCM_SENDER_ID</key>
	<string>124419940113</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vreetoryApp</string>
	<key>PROJECT_ID</key>
	<string>vreetory-app</string>
	<key>STORAGE_BUCKET</key>
	<string>vreetory-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:124419940113:ios:2cb2c8d5b1bb062faf36b0</string>
</dict>
</plist>